<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.bjtu.soundrecorder">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".utils.ContextUtil"
        android:allowBackup="true"
        android:icon="@drawable/myic_lancher"
        android:label="@string/app_name">
        <!--android:theme="@style/ThemeOverlay.AppCompat.ActionBar"-->
        <activity
            android:name=".SoundRecorderActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".testActivity"
            android:label="交大Recorder"
            android:screenOrientation="portrait"/>
        <service
            android:name=".NetworkStateService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>
